
<!doctype html>
<html lang="en-US">
<head>
	<%- include('../partials/head') %>
</head>

<body class="home">

	<!-- Preloader -->
	<%- include('../partials/preloader') %>

	<!-- Container -->
	<div class="container">

		<!-- Cursor -->
		<div class="cursor-follower"></div>

		<!-- Header -->
		<header class="header">
			<%- include('../partials/header') %>
		</header>

		<!-- Wrapper -->
		<div class="wrapper">

			<!-- Section Started -->
			<div class="section started" id="section-started">

				<!-- background -->
				<div class="video-bg">
					<div class="video-bg-mask"></div>
					<div class="video-bg-texture" id="grained_container"></div>
				</div>

				<!-- started content -->
				<div class="centrize full-width">
					<div class="vertical-center">
						<div class="started-content">
							<h1 class="h-title">
								Hello, I’m <strong>Shaan Hossain</strong>, Student and <br />
								Aspiring Software Engineer Based in Boston MA.
							</h1>
							<div class="h-subtitle typing-subtitle">
								<p>I build cool <strong>projects</strong></p>
								<p>I crave <strong>solving problems</strong></p>
								<p>I ask a lot of <strong>questions</strong></p>
								<p>I love <strong>wild adventures</strong></p>
							</div>
							<span class="typed-subtitle"></span>
						</div>
					</div>
				</div>

			</div>

		</div>

		<!-- Footer -->
		<footer class="footer">
			<%- include('../partials/footer') %>
		</footer>

		<!-- Lines -->
		<%- include('../partials/lines') %>

	</div>

	<!-- Scripts -->
	<%- include('../partials/scripts') %>

</body>
</html>
