<!doctype html>
<html lang="en-US">
<head>
	<%- include('../partials/head') %>
</head>

<body>

	<!-- Preloader -->
	<%- include('../partials/preloader') %>

	<!-- Container -->
	<div class="container">

		<!-- Cursor -->
		<div class="cursor-follower"></div>

		<!-- Header -->
		<header class="header">
			<%- include('../partials/header') %>
		</header>

		<!-- Wrapper -->
		<div class="wrapper">

			<!-- Section Started -->
			<div class="section started section-title" id="section-started">

				<!-- background -->
				<div class="video-bg">
					<div class="video-bg-mask"></div>
					<div class="video-bg-texture" id="grained_container"></div>
				</div>

				<!-- started content -->
				<div class="centrize full-width">
					<div class="vertical-center">
						<div class="started-content">
							<h1 class="h-title">Interests</h1>
							<div class="h-subtitles">
								<div class="h-subtitle typing-bread">
									<p class="breadcrumbs">
										<a href="index.ejs">Home</a> / Interests
									</p>
								</div>
								<span class="typed-bread"></span>
							</div>
						</div>
					</div>
				</div>

				<!-- mouse button -->
				<a href="#" class="mouse_btn" style="display: none;"><span class="icon fas fa-chevron-down"></span></a>

			</div>

			<!-- Section Interests -->
			<div class="section service" id="section-interests">
				<div class="content">

					<!-- title -->
					<div class="title">
						<div class="title_inner">Interests</div>
					</div>

					<!-- interests items -->
					<div class="service-items">

						<div class="service-col">
							<div class="service-item content-box">
								<div class="icon"><span class="fas fa-book-open"></span></div>
								<div class="name">Reading</div>
								<div class="text">Always reading something. Finished Principles by Ray Dalio recently, which I enjoyed. Open to recommendations.</div>
							</div>
						</div>

						<div class="service-col">
							<div class="service-item content-box">
								<div class="icon"><span class="fas fa-motorcycle"></span></div>
								<div class="name">Motorcyles</div>
								<div class="text">Worked on one senior year of high school for our senior project. I know they're death machines, but one can dream. Might get a Z400 or MT03 in a year or two.</div>
							</div>
						</div>

						<div class="service-col">
							<div class="service-item content-box">
								<div class="icon"><span class="fas fa-car-side"></span></div>
								<div class="name">Cars</div>
								<div class="text">I've always loved cars. Big fan of Ferrari, Porsche, and BMW. No, it's not the status. Yes, it's about the best driving machine.</div>
							</div>
						</div>

						<div class="service-col">
							<div class="service-item content-box">
								<div class="icon"><span class="fas fa-gamepad"></span></div>
								<div class="name">Video Games</div>
								<div class="text">My love for programming started with video games and wanting to know how they worked. Haven't had time recently, but some of my favorites are Skyrim, Final Fantasy 12, 13, 7 remake, League of Legends, Faster than Light, and Mariokart</div>
							</div>
						</div>

						<div class="service-col">
							<div class="service-item content-box">
								<div class="icon"><span class="fas fa-money-bill"></span></div>
								<div class="name">Finance</div>
								<div class="text">The stock market is one of the most complex dynamic systems. It's always caught my interest from traditional buy/hold for value to complex options strategies.</div>
							</div>
						</div>

						<div class="service-col">
							<div class="service-item content-box">
								<div class="icon"><span class="fas fa-microchip"></span></div>
								<div class="name">Building Computers</div>
								<div class="text">Built my first one with my dad at 10 and I've been addicted since. Current specs are 1080 Ti, 5900x, 512gb SN750 Black, and 32gb of Crucial Ballistix at 2666 MHz</div>
							</div>
						</div>

						<div class="service-col">
							<div class="service-item content-box">
								<div class="icon"><span class="fas fa-football-ball"></span></div>
								<div class="name">Football</div>
								<div class="text">Played for part of middle school and high school. It's just so much fun clowning around whether you're playing or watching.</div>
							</div>
						</div>

						<div class="service-col">s
							<div class="service-item content-box">
								<div class="icon"><span class="fas fa-dumbbell"></span></div>
								<div class="name">Weight lifting</div>
								<div class="text">I've been skinny my whole life. It's a nice confidence boaster, being healthy helps me keep my mind sharp, and it's great for blowing off steam.</div>
							</div>
						</div>

					</div>

					<div class="clear"></div>
				</div>
			</div>
		</div>

		<!-- Footer -->
		<footer class="footer">
			<%- include('../partials/footer') %>
		</footer>

		<!-- Lines -->
		<%- include('../partials/lines') %>

	</div>

	<!-- Scripts -->
	<%- include('../partials/scripts') %>

</body>
</html>
