
<!doctype html>
<html lang="en-US">
<head>
	<%- include('../partials/head') %>
</head>

<body>

	<!-- Preloader -->
	<%- include('../partials/preloader') %>

	<!-- Container -->
	<div class="container">

		<!-- Cursor -->
		<div class="cursor-follower"></div>

		<!-- Header -->
		<header class="header">
			<%- include('../partials/header') %>
		</header>

		<!-- Wrapper -->
		<div class="wrapper">

			<!-- Section Started -->
			<div class="section started section-title" id="section-started">

				<!-- background -->
				<div class="video-bg">
					<div class="video-bg-mask"></div>
					<div class="video-bg-texture" id="grained_container"></div>
				</div>

				<!-- started content -->
				<div class="centrize full-width">
					<div class="vertical-center">
						<div class="started-content">
							<h1 class="h-title"><strong>WIP: </strong>Planning on Integrating Live Demos of Projects</h1>
							<div class="h-subtitles">
								<div class="h-subtitle typing-bread">
									<p class="breadcrumbs">
										<a href="index.ejs">Home</a> / Works
									</p>
								</div>
								<span class="typed-bread"></span>
							</div>
						</div>
					</div>
				</div>

				<!-- mosue button -->
				<a href="#" class="mouse_btn" style="display: none;"><span class="icon fas fa-chevron-down"></span></a>

			</div>

			<!-- Works -->
			<div class="section works" id="section-portfolio">
				<div class="content">
				</div>
			</div>

		</div>

		<!-- Footer -->
		<footer class="footer">
			<%- include('../partials/footer') %>
		</footer>

		<!-- Lines -->
		<%- include('../partials/lines') %>

	</div>

	<!-- Scripts -->
	<%- include('../partials/scripts') %>

</body>
</html>
